.bento-wrapper {
  position: relative;
}
.bento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
}
.bento-wrapper::after {
  content: "";
  position: absolute;
  top: 20px; /* start at top of wrapper */
  left: 0;
  bottom: 19px;
  width: 80%;
  height: 96%; /* full height of wrapper/grid */
  pointer-events: none;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 1;
}
.bento-text {
  position: absolute;
  top: 50%; /* vertical center */
  left: 200px; /* distance from left edge */
  transform: translateY(-50%); /* vertically center properly */
  text-align: left;
  color: white;
  z-index: 2; /* above gradient */
  max-width: 1400px; /* optional width limit */
}

.bento-text h1 {
  font-size: 1rem;
}
.bento-text h1.projh {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  letter-spacing: 2px;
}

.bento-text p {
  line-height: 0.1px;
  font-size: 1.2rem;
  padding-bottom: 20px;
}
.item {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

/* Different sizes like a bento layout */
.item.large {
  grid-row: span 2;
  grid-column: span 2;
}

.item.medium {
  grid-row: span 2;
  grid-column: span 1;
}

.item.small {
  grid-row: span 1;
  grid-column: span 1;
}
.item.long {
  grid-row: span 1;
  grid-column: span 2;
}
.item.tall {
  grid-row: span 2;
  grid-column: span 1;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
  border-radius: 10px;
}
.explore-btn {
  font-family: "poppins";
  padding: 10px 20px;
  font-size: medium;
  background: none;
  color: white;
  border: 2px white solid;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.explore-btn:hover {
  background-color: white;
  color: black;
  border: 2px white solid;
}
